extends layout
include mixins

block content
    div.col-md-4
      h1= title

      form(method='post', action='/addword')
        div(class=).form-group
          each field in form
            +field(field, submitted)
        button() Bæta við orði

      form(method='post', action='/getword')
        button() Ná í orð
