extends layout
include mixins

block content
    div.col-md-4
    div.col-md-4
      h1= title
      h2 Difficulty
      form(method='post', action='/addword' class='addwords')
        div.form-group
          each field in form
            +field(field, submitted)
        div.row: button(class="btn btn-primary top-buffer") Add word

      //- form(method='post', action='/getword')
      //-   div.row: button(type='button' class='btn btn-primary top-buffer') Ná í orð
