extends layout
//- include mixins
//- 
block content
//- 
  //- div
//-     form(id="loginform2" method='post' action='/login' class="login")
//-       each field in form
//-         +field(field, submitted)
//- 
//-       div: button(class="btn btn-danger top-buffer" role="button")
//-         span.glyphicon.glyphicon-ok-circle
//-         |  Innskrá
//- 
//-       //- p: a(href='/signup' class="btn-primary") Búa til notanda
//-       a(role="button" class="btn btn-primary top-buffer" id="signUp")
//-         span.glyphicon.glyphicon-user
//-         |    Sign up
  div
    p hallo
