extends layout

block content
  script(src='/javascripts/phaser.min.js')
  script(src='/javascripts/JS/Boot.js')
  script(src='/javascripts/JS/Preloader.js')
  script(src='/javascripts/JS/Level1.js')
  script(src='/javascripts/JS/Level2.js')
  script(src='/javascripts/JS/MainMenu.js')
  script(src='/javascripts/JS/Button.js')
  script(src='/javascripts/JS/Player.js')
  div(id="game")
  div(id="orientation")
    script.
      window.onload = function () {
        var game = new Phaser.Game(800, 600, Phaser.AUTO, 'game');
      	game.state.add('Boot', Lingo.Boot);
        game.state.add('Preloader', Lingo.Preloader);
        game.state.add('MainMenu', Lingo.MainMenu);
        game.state.add('Level1', Lingo.Level1);
        game.state.add('Level2', Lingo.Level2);
        game.state.start('Boot');
      }
  div.row: a(class="btn btn-danger" id="logOut" href='/logout' method="post") Log out
