extends layout
include mixins

block content

  if errors && submitted
    h2 Error!
    h2= errorMessage

  div.container.background
    div.row
      div.col-md-1
      div.col-md-10
        img(src='/../images/lingo2.png', alt='Lingo Logo', style='width:348px;height:318px;')
        h2.titill Lingo Dingo is all about having fun and learning languages at the same time!
      div.col-md-1
    div.col-xs-12(style='height:60px;')
      ul
        row
          div(id='emailWarning' class="message")
          div(id='password1Warning' class="message")
          //- if errors && submitted

    div.row
      div.col-md-4
      div(class="col-md-4 card" style="background-color:rgba(0, 0, 0, 0.5);")
        form(id="loginform" method='post' action='/login' class="login")
          each field in form
            +field(field, submitted)
            
          div: button(class="btn btn-danger top-buffer" role="button" id="logIn")
            span.glyphicon.glyphicon-ok-circle 
            |  Login

          //- p: a(href='/signup' class="btn-primary") Búa til notanda
          a(role="button" class="btn btn-primary top-buffer" id="signUp")
            span.glyphicon.glyphicon-user
            |    Sign up
        //- form(method='post', action='/signup' id="signupForm" class="hidesignup")
        //-   each field in form
        //-     +field(field, submitted)
        //-   div: button() Útbúa
        //-   div(id='emailWarning')
        //-   div(id='password1Warning')
        //-   div(id='password2Warning')

    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/ajaxForm.js')
