extends layout
include mixins

block content

  
  if errors && submitted
    h2 Villa kom upp
    p= errorMessage




  div.container.background
    div.row
      div.col-md-1
      div.col-md-10
        img(src='/../images/lingo2.png', alt='Lingo Logo', style='width:348px;height:318px;')

        h2.titill Lingo Dingo is all about having fun and learning languages at the same time!
      div.col-md-1

    div.row
      div.col-md-4
      div.col-md-4
        form(id="login" method='post', action='/login' class="login")
          each field in form
            +field(field, submitted)
          div: button() Innskrá
          div(id='emailWarning')
          div(id='password1Warning')
        p: a(href='/signup') Búa til notanda


    
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/ajaxForm.js')
