extends layout
include mixins

block content

  div(id='emailWarning' class='message')
  div(id='password1Warning' class='message')
  div(id='password2Warning' class='message')

  form(id="signupForm" class="login")
    each field in form
      +field(field, submitted)
    div: button(class="btn btn-danger top-buffer" role="button" id="signUpUser")
      span.glyphicon.glyphicon-user
      |  Sign up
    a(role="button" class="btn btn-primary top-buffer" id="logIn")
      span.glyphicon.glyphicon-menu-left
      | Back to login
    

  //- p: a(id="backToLogin") Innskrá notanda
  
  
    
  script(src='/javascripts/jquery-3.1.1.min.js')
  script(src='/javascripts/ajaxForm.js')
>>>>>>> 9232a4b7ed8028f22effd1ff17acfba4b387789c
