extends layout
include mixins

block content

  form(method='post', action=action, id="signupForm" class="login")
    each field in form
      +field(field, submitted)
    div.row: button(type='submit', class="btn btn-danger top-buffer" role="button" id="signUp")
      span.glyphicon.glyphicon-user
      |  #{submitButton}
    div.row: button(type='button' class="btn btn-primary top-buffer" id='toLogIn')
      span.glyphicon.glyphicon-menu-left
      | #{switchButton}

