body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

a {
  color: #00B7FF;
}

.input-error {
	background-color: #ff4d4d;
	border-color: #ff4d4d; 
}
